@{
    ViewBag.Title = "Thông tin khách hàng";
}
<main style="background-image: url(https://www.jillstuart-beauty.com/en-jp/new-item/2023/0407_crystal_bloom/images/main.jpg); background-size: cover; background-repeat: no-repeat">
    <h2 style="font-size:xx-large" ; ="title">@ViewBag.Title.</h2>


    <strong>Điền thông tin của bạn để mua sắm</strong>
   
    <form>
        <div>
            <label><b> Tên khách hàng</b></label><br />
            <input type="text" />
        </div>
        <div>
            <label> <b> hành phố/ tỉnh thành bạn muốn giao hàng</b>T</label>
            <select>
                <option> Hồ Chí Minh </option>
                <option> Hà Nội </option>
                <option> Đà Nẵng </option>
                <option> Hải Phòng</option>
            </select>
        </div>
        <div>
            <lable><b>Nhập địa chỉ cụ thể </b></lable><br />
            <input type="text" />
 </div>
        <div>
            <lable><b>Nhập địa chỉ số điện thoại mua hàng </b></lable><br />
            <input type="number" />
        </div>
    </form>
    <button>
        Lưu thông tin
    </button>
    <p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </p>
</main>