
@{
    ViewBag.Title = "beautyblog";
}

<h1>beautyblog</h1>

<p>
    Đánh giá người dùng về sản phẩm son flower knows love bear  <br />
    "Son xinh đẹp tỵt zời. Tham gia chương trình mời bạn bè đc tặng free 1 thỏi circus. Đã v son tặng mà date còn tận 1 năm rưỡi 🥹. Nhận hàng ngay valentine zô cùng cảm động luôn 🥲. Chất son của dòng bear mình thấy lì hơn và khô hơn. Màu hazenut là màu đỏ trầm 1 tí nhưng với mình thì chưa đủ đậm :)) circus màu brownie siêu trầm đậm nhiều ánh nâu nên cũng hơi khó xài. Chất son circus nhiều dưỡng hơn, finish siêu mịn. Cảm giác như velvet. Cùng tầm giá thì mình recommend FK thay vì 3ce nha =))"<br />
</p>
<br />
<img src="https://down-vn.img.susercontent.com/file/vn-11134103-23020-vfu7gav0qinv7b" width="600" height="500" />
<br />
<img src="https://down-vn.img.susercontent.com/file/vn-11134103-23020-lhu7gav0qinve7" width="600" height="500" />
<p>
    Đánh giá người dùng về sản phẩm phấn tươi Age20's<br />
    "Packaging nhìn bling bling nma cái chốt màu trắng chứ k màu bạc như cả hộp làm giảm 50% sự luxury của cả hộp luôn 🥲. Bù lại thì chất sp dùng rất thích. Bên trái là nửa mặt mình k dùng (vì đang nổi mụn huhu) lỗ chân lông khá to, da k đều màu, vết thâm, da sạm màu. Bên phải là sau khi apply, da trông đều màu hẳn và nhìn rất tự nhiên. V nên sp k hợp da nhiều khuyết điểm vì che phủ k quá tốt, tuy nhiên da ít khuyết điểm dùng nhìn sẽ rất thật da, k bị giả như cushion. Lớp finish lì, k transfer, nhẹ mặt nhưng vẫn có độ bóng nhẹ k lì kiểu khô căng, k bết dính. Trừ packaging thì 10 đỉm. Thời tiết SG phải đi ngoài trời thì perfect :)) k đổ dầu, k dính khẩu trang.Tuy nhiên da khô nên dùng kem lót dưỡng ẩm hoặc mua dòng màu hồng (lúc mình mua thì hết hàng r) .Shop giao còn hsd tận 2 năm "
</p>
<br />
<img src="https://down-vn.img.susercontent.com/file/vn-11134103-7qukw-lf9eso6vfolzba" width="600" height="500" /><br/>
<img src="https://down-vn.img.susercontent.com/file/vn-11134103-7qukw-lf9eso6vh30qe3" width="600" height="500" />