@{
    ViewBag.Title = "Liên hệ";
}
<main style="background-image: url(https://cdn.shopify.com/s/files/1/0593/5418/5889/products/strawberryrococohandmirror_a5d1c489-b327-444a-aa97-73b28c2e93fe.png?v=1683710188&width=750); background-size: cover; background-repeat: no-repeat;">
  <h1 style="font-size:xx-large">Thông tin liên hệ</h1>

    <address>
        <b>Địa chỉ </b><br />
        nhà em có hoa vàng trước ngõ, tường thật là cao có dây leo kín rào<br />
       <p>Số điện thoại</p>
       xxx.xxx.xxx
    </address>
    <b>Liên hệ trực tuyến cho chúng tôi qua </b>
    <address>
        <strong>hỗ trợ giải quyết khiếu nại:</strong>   <a href="https://www.facebook.com/bothomthitpleple">facebook</a><br />
        <strong>tư vấn mua hàng:</strong> <a href="https://www.facebook.com/bothomthitpleple">nhân viên tư vấn</a>
    </address>
    <p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </p>
</main>