
@{
    ViewBag.Title = "Eye";
}
<h1 style="background-color:lightpink">Trang điểm mắt</h1>

<div>
    <img src="https://cdn.shopify.com/s/files/1/0593/5418/5889/products/MoonlightMermaidFive-ColorJewelryEyeshadowPalette01.jpg?v=1683708095&width=750" width="300" height="300" />
    <alt>
        Phấn mắt Flower Know Moonlight Mermaid
        5 bảng màu thiết kế siêu đẹp mắt
    </alt>
    <form>
        <label> 480.000 vnđ </label><br />
        <button>
            mua ngay
        </button>
    </form>


</div>
<div>
    <img src="https://www.jillstuart-beauty.com/en-jp/products/eyes/SIPK/SIPK022_open_.jpg" width="300" height="300" />
    <alt>
        Phấn mắt JillStuart Bloom Mix Blush Compact Sunset Promenade phấn mắt và má 2 trong 1
    </alt>
    <form>
        <label> 500.000 vnd </label><br />
        <button>
            mua ngay
        </button>
    </form>


</div>
<div>
    <img src="https://www.jillstuart-beauty.com/en-jp/products/eyes/SIEB/SIEB012_open_.jpg" width="300" height="300" />
    <alt>
        Phấn mắt JillStuart Eternal Couture Eyes Shimmer Petal Glow kết hợp highlight tiện lợi
    </alt>
    <form>
        <label> 700.000 vnd </label><br />
        <button>
            mua ngay
        </button>
    </form>


</div>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0593/5418/5889/products/3_9960e564-c825-4307-ab11-cb45fc594130.jpg?v=1683707141&width=750" width="300" height="300" />
    <alt>
        Phấn mắt Flower Knows Roco Strawberry 5 màu dễ sử dụng
    </alt>
    <form>
        <label> 460.000 vnd </label><br />
        <button>
            mua ngay
        </button>
    </form>


</div>
