
@{
    ViewBag.Title = "Face";
}

<h1>Face</h1>
<div>
    <img src="https://www.jillstuart-beauty.com/en-jp/products/basemake/SICK/SICK_01_.jpg" width="300" height="300" />
    <alt>
        kem nền JillStuart Bright & Smooth Serum Primer dưỡng ấm cho nền mịn mướt
        <form>
            <label> 700.000 vnd </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>
<div>
<img src="https://cdn-amz.woka.io/images/I/71XvbSAcHaL.jpg" width="300" height="300" />
<alt>
   phấn tươi age20's cho lớp nền che phủ, căng bóng tự nhiên
    <form>
        <label> 400.000 vnd </label><br />
        <button>
            mua ngay
        </button>
    </form>


    </div>
<div>
    <img src="https://www.jillstuart-beauty.com/en-jp/products/basemake/SICF/SICF_OPEN.jpg" width="300" height="300" />
    <alt>
        phấn phủ JillStuart Glow Chiffon Serum Filter che phủ hoàn hảo
        <form>
            <label> 700.000 vnd </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>
<div>
    <img src="https://www.jillstuart-beauty.com/en-jp/products/basemake/SJNF/SJNF_open_.jpg" width="300" height="300" />
    <alt>
        phấn phủ JillStuart Something Pure Blue Innocent Face Powde
        <form>
            <label> 700.000 vnd </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0593/5418/5889/products/95f0459d796b07dd7f90887e71fb1d3c_762279d8-c2e7-4547-b1ff-b643221138b1.jpg?v=1683708961&width=750" width="300" height="300" />
    <alt>
        phấn tạo khối và highlight flower knows Chocolate Wonder-Shop
        <form>
            <label> 600.000 vnd </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0593/5418/5889/files/moonlight-mermaid.jpg?v=1681356321&width=750" width="300" height="300" />
    <alt>
        phấn má Flower Knows Moonlight Mermaid
        <form>
            <label> 300.000 vnd </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>