@{
    ViewBag.Title = "Home Page";
}

<main style="background-image: url(https://cdn.shopify.com/s/files/1/0593/5418/5889/products/MoonlightMermaidAll-InGiftSet.3.jpg?v=1683708932&width=750); background-size: cover; background-repeat: no-repeat; ">
    <section class="row" aria-labelledby="aspnetTitle">
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="beauty blog">
            <h2 id="gettingStartedTitle">beauty blog</h2>
            <p>
                bof shop cung cấp các sản phẩm làm đẹp từ trang điểm đến chăm sóc da đa dạng về nhãn hàng, mức giá với giá tốt. Bắt đầu tham khảo để chọn sản phẩm phù hợp với bạn.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.facebook.com/bothomthitpleple">tham khảo ngay &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 style="color:azure" id="librariesTitle">Flash sale</h2>
            <p style="color:azure">
                Theo dõi các khung giờ flash sale của shop để săn deal hời.<br />
                Giảm giá lên đến 50%.<br />
                Chương trình mua 1 tặng 1 với các sản phẩm còn hsd < 6 tháng.<br />
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44315/Home/Sale">Flashsale &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 style="color:azure" id="hostingTitle">Tất cả sản phẩm</h2>
            <p style="color:azure">Xem sản phẩm và thêm và giỏ hàng ngay thôi.</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44315/Home/ProductList">mua sắm ngay &raquo;</a></p>
        </section>
    </div>
    <p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </p>
</main>