
@{
    ViewBag.Title = "Lip";
}

<h1>Trang điểm môi</h1>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0593/5418/5889/products/3_2e61e7ca-985b-4238-9d8d-56e3cb1e061c.jpg?v=1683709847&width=750" width="300" height="300" />
    <alt>
       Son kem bùn Flower Know Roco Strawberry mịn mướt, nhẹ môi
    </alt>
    <form>
        <label> 360.000 vnd </label><br />
        <button>
            mua ngay
        </button>
    </form>


</div>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0593/5418/5889/products/a4fd1aacbd5005246103c4756d02cfe1.jpg?v=1683707854&width=750" width="300" height="300" />
    <alt>
        Son thỏi lì Flower Knows thiết kế dễ thương 
    </alt>
    <form>
        <label> 340.000 vnd </label><br />
        <button>
            mua ngay
        </button>
    </form>


</div>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0593/5418/5889/products/MoonlightMermaidJewelryLipGloss-4.jpg?v=1683708434&width=750" width="300" height="300" />
    <alt>
        Son bóng Flower Knows Moonlight Mermaid Jewelry Lip Gloss
    </alt>
    <form>
        <label> 340.000 vnd </label><br />
        <button>
            mua ngay
        </button>
    </form>


</div>
<div>
    <img src="https://www.jillstuart-beauty.com/en-jp/new-item/2023_bw_lip_stick/images/main.jpg" width="300" height="300" />
    <alt>
        Son dưỡng JillStuart Bloom Lip Candy bản giới hạn kỉ niệm sinh nhật vỏ đặc biệt
    </alt>
    <form>
        <label> 740.000 vnd </label><br />
        <button>
            mua ngay
        </button>
    </form>


</div>
<div>
    <img src="https://www.jillstuart-beauty.com/en-jp/products/lips/SISX/SISX_close_.jpg" width="300" height="300" />
    <alt>
        Son thỏi có dưỡng JillStuart Sakura Bouquet Rouge phiên bản giới hạn hoa anh đào bán kèm case
        <form>
            <label> 1.700.000 vnd </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>