@model IEnumerable<SEO.banmypham.FilterConfig>

@{
    ViewBag.Title = "ProductList";
}

<h1>Danh sách sản phẩm</h1>
<br />

<h2> Trang điểm mắt </h2>
<div style="background-image: url(https://cdn.shopify.com/s/files/1/0593/5418/5889/files/e78ad653054604d9621a4112dc6e053a.jpg?v=1680858511&width=2000); background-size: cover; background-repeat: no-repeat ">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <mark>  Phấn mắt, kẻ mày, bút kẻ mắt, nhũ mắt,... </mark><br />

    <strong>Xem các sản phẩm thuộc loại này</strong>  <a class="btn-outline-dark" href=https://localhost:44315/Home/Eye> Xem ngay &raquo;</a><br />
</div>
<h2> Trang điểm môi </h2>
<div style="background-image: url(https://cdn.shopify.com/s/files/1/0593/5418/5889/files/545d778cd85686d37c2533dc7d97a92a.jpg?v=1680858511&width=2000); background-size: cover; background-repeat: no-repeat ">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <mark> son môi </mark><br />

    <strong>Xem các sản phẩm thuộc loại này</strong>  <a class="btn-outline-dark" href=https://localhost:44315/Home/Lip> Xem ngay &raquo;</a><br />
</div>

<h2> Trang điểm nền </h2>
<div style="background-image: url(https://www.jillstuart-beauty.com/en-jp/new-item/2022/0225_base_makeup/images/main.jpg); background-size: cover; background-repeat: no-repeat">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <mark> kem nền, cushion, phấn phủ, che khuyết điểm,... </mark><br />
    <strong>Xem các sản phẩm thuộc loại này</strong>  <a class="btn-outline-dark" href=https://localhost:44315/Home/Face> Xem ngay &raquo;</a><br />
</div>
<h2> Chăm sóc da </h2>
<div style="background-image: url(https://www.jillstuart-beauty.com/en-jp/new-item/2023/0106_lifestyle/images/main.jpg); background-size: cover; background-repeat: no-repeat ">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <mark> Các sản phẩm chăm sóc da </mark><br />

    <strong>Xem các sản phẩm thuộc loại này</strong>  <a class="btn-outline-dark" href=https://localhost:44315/Home/Skincare> Xem ngay &raquo;</a><br />
</div>



