
@{
    ViewBag.Title = "Sale";
}
<h2>Flash Sale</h2>
<p> Chốt ngay deal hời. Sale tất cả sản phẩm lên đến 50%</p>
<div>
    <h2> Sale 30% với dòng sản phẩm Circus. Mua 1 son tặng 1 nhũ mắt cherry love</h2>
    <img src="https://cdn.shopify.com/s/files/1/0593/5418/5889/files/69ae45aa63ae698039c68591ecf7e44a.jpg?v=1683798634&width=2000" />
    <p><a class="btn btn-outline-dark" href="https://localhost:44315/Home/ProductList">mua ngay &raquo;</a></p>
</div>
<div>
    <h2> Sale lên đến 50% với các sản phẩm khác trong chương trình</h2>
    <img src="https://image.freepik.com/free-vector/flash-sale-banner-lightning-text-background_131114-16.jpg" />
    <p><a class="btn btn-outline-dark" href="https://localhost:44315/Home/ProductList">mua ngay &raquo;</a></p>
</div>


