
@{
    ViewBag.Title = "Skincare";
}

<h1>Chăm sóc da</h1>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0255/0189/2660/products/LANEIGE_RADIANC_PPAGE_PRODUCT_960x.jpg?v=1671553328" width="300" height="300" />
    <alt>
      Kem dưỡng laneige Radiant C dưỡng trắng, mờ đốm nâu 30ml
        <form>
            <label> 1.000.000 </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>
<div>
    <img src="https://www.laneige.com.vn/media/catalog/product/2/3/230314_final_sg_water-bank-blue-hyaluronic-cream-for-normal-to-dry-skin_thumbnail_1000x1000_8.jpg?optimize=low&fit=bounds&height=540&width=450&canvas=450:540" width="300" height="300" />
    <alt>
        Kem dưỡng laneige Water Bank Blue HA Cream Dry 50ml
        <form>
            <label> 900.000 </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>
<div>
    <img src="https://www.laneige.com.vn/media/catalog/product/2/0/20210127_final_lip-sleeping-mask_pdp_thumbnail_03_pc_1.jpg?optimize=low&fit=bounds&height=540&width=450&canvas=450:540" width="300" height="300" />
    <alt>
        mặt nạ môi laneige Lip Sleeping Mask EX 20g dưỡng môi ban đêm
        <form>
            <label> 400.000 </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>
<div>
    <img src="https://cdn.tgdd.vn/Products/Images/3708/184964/bhx/sellingpoint.jpg" width="300" height="300" />
    <alt>
nước tẩy trang maybeline làm sạch da 400ml
        <form>
            <label> 200.000 </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>
<div>
    <img src="https://www.jillstuart-beauty.com/en-jp/products/skincare/SICG/SICG.jpg" width="300" height="300" />
    <alt>
        dầu dưỡng da cơ thể JillStuart Crystal Glow & Hydrating Mist toner dangj xịt
        <form>
            <label> 800.000 </label><br />
            <button>
                mua ngay
            </button>
        </form>


</div>

